* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #E9EEF5 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
h1{
  margin: 25px;
  text-align: center;
  color:#104261;
}
h2{ 
  margin-top: 20px;
    text-align: center;
  color:#104261;
}
.contenedor{
width: min(700px, 100%);
  /*El width intenta ser 60%, pero si ese 60% pasa de 1200px, se queda en 1200px*/
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 20px;
  margin: 40px auto;
  margin-bottom: 75px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.button{
    background-color: transparent;
    border:none;
    color: #2e6588;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.button2 {
  margin-left: 0;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #1B4965;
  color: #fff;
  cursor: pointer;
  font: inherit;
  /* hereda la fuente del elemento padre */
  margin: 10px;
  margin-top: 2px;
}
.button:hover {
    transform: translateY(-2px);
}.button2, .button {
  transition: all 0.3s ease;
}
.button2:hover {
  background-color: #163b52;
  transform: translateY(-2px);
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Hace que el campo ocupe todo el ancho del contenedor */
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea{
  resize: none;/*no se puede cambiar el tamaño del textarea */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Hace que el campo ocupe todo el ancho del contenedor */
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input:focus, textarea:focus ,select:focus {
  outline: none;
  background-color: #bfcff03b;
  border: 1px solid #6b6b7f;
}
label {
  margin: 4px;
  font-weight: 400;
  color: #153a52;
}
.modal {
  display: none;
}

.modal.active {
  display: flex;
  position: fixed;/* Permite que el modal se superponga al contenido de la página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.grupo-campo {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
  padding-bottom: 28px;
  padding-top: 28px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  width: 85%;
}
.grupo-2 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2px;
  gap: 5px;
  padding: 0 32px 24px;
}
.modal-content {
max-width: 1200px;
width: min(440px, 100%);
  /*el width intenta ser 100%, pero si ese 100% pasa de 1200px, se queda en 1200px*/
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;/*el contenido se alinea al inicio del contenedor*/
  border-radius: 20px;
  margin: 15px;
  padding: 10px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.grupo-campo input[type="radio"] {
  margin: 0 !important;
}
.modal2 {
    display: none;
}
.modal-content2{
  max-width: 1200px;
width: min(440px, 100%);
  /*el width intenta ser 100%, pero si ese 100% pasa de 1200px, se queda en 1200px*/
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;/*el contenido se alinea al inicio del contenedor*/
  border-radius: 20px;
  margin: 15px;
  padding: 10px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .grupo-campo2 {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}
